@mixin border-radius($radius) {
  -webkit-border-radius: $radius;
     -moz-border-radius: $radius;
      -ms-border-radius: $radius;
          border-radius: $radius;
};
@mixin display-flex {
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
};

@mixin container-int {
	max-width: $container;
	flex-grow: 1;
	@include display-flex
};

@mixin container-ext {
	@include display-flex;
	flex: 1;
	justify-content: center;
};