/* layout */
@mixin container-int {
    max-width: $container;
    width: 100%;
    display: flex;
}

@mixin container-ext {
    display: block;
    display: flex;
    justify-content: center;
};

/* media queries */
@mixin bp($point) {
    @if $point == medium {
      @media (max-width: 768px) { @content; }
  }
    @else if $point == small {
      @media (max-width: 481px) { @content; }
  }
    @else if $point == very-small {
      @media (max-width: 320px)  { @content; }
  }
    @else if $point == large {
      @media (min-width: 769px)  { @content; }
  }
}
