@mixin border-radius($radius) {
  -webkit-border-radius: $radius;
     -moz-border-radius: $radius;
      -ms-border-radius: $radius;
          border-radius: $radius;
};

@mixin container-int {
	max-width: $container;
	width: 100%;
	flex-grow: 1;
	display: flex;
	margin: auto;
}

@mixin container-ext {
	display: flex;
	flex: 1;
	justify-content: center;
}