@mixin border-radius($radius) {
  -webkit-border-radius: $radius;
  -moz-border-radius: $radius;
  -ms-border-radius: $radius;
  border-radius: $radius;
};


/* layout */
@mixin container-int {
	max-width: $container;
	width: 100%;
	display: flex;
	margin: auto;
}

@mixin container-ext {
    display:flex;
    flex: 1;
    justify-content: center;
};


/* speakers */
@mixin social-button($image) {
    background: $image;
};

@mixin schedule-arrow($image) {
    width:30px;
    height:30px;
    border:0px;
    background: $image;
};

@mixin schedule-about-button($content) {
    content:$content;
    display:block;
    font-size:$font__giant;
    color:$color__gray--darken;
    margin-top: -7px;
};

@mixin user-select() {
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
};

/* media queries */
@mixin bp($point) {
    @if $point == medium {
      @media (max-width: 768px) { @content; }
  }
    @else if $point == small {
      @media (max-width: 481px) { @content; }
  }
    @else if $point == very-small {
      @media (max-width: 320px)  { @content; }
  }
    @else if $point == large {
      @media (min-width: 769px)  { @content; }
  }
}
