@import url(http://fonts.googleapis.com/css?family=Roboto:300,400,500,700);
@import 'variables';
@import 'mixins';

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: $font__main;
  font-size: $font__size--1;
}

a {
  color: $color__primary;
  text-decoration: none;
}

img {
  border: none;
}

@import 'modules/_basicLayout';
@import 'modules/_menu';
@import 'modules/_locationMap';
@import 'modules/_speakers';
@import 'modules/_partners';
@import 'modules/_schedule';
@import 'modules/_registration';
@import 'modules/_overview';
@import 'modules/_footer';


.invisible {
  display: none;
}
