@import 'variables';
@import 'mixins';


* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	font-family:$font__main;
	font-size:$font__small;
}

a {
	color: $color__primary;
	text-decoration: none;
}


@import 'modules/_basicLayout';
@import 'modules/header';
@import 'modules/_menu';
@import 'modules/_locationMap';
@import 'modules/speakers';
@import 'modules/_partners';
@import 'modules/schedule';
