
/* colors */
$color__primary: rgb(30, 145, 255);
$color__primary--light: lighten($color__primary, 5%);
$color__primary--soft: lighten($color__primary, 40%);
$color__primary--soften:lighten($color__primary, 30%);
$color__primary--dark: darken($color__primary, 30%);
$color__heading--menu: rgb(255, 255, 255);
$color__heading--active: LightSeaGreen;
$color-boder: blue;
$color__gray--light: rgb(250, 250, 250);
$color__gray--normal: rgb(236, 240, 241);
$color__gray--darken: rgb(108, 122, 137);
$color__gray--light: lighten($color__gray--darken, 40%);

/* fonts */
$font__main: Calibri;
$font__giant:24px;
$font__larger:22px;
$font__large:20px;
$font__small:16px;


/* layout */
$container: 940px;

/* menu values */
$item__padding--top-bottom: 20px;
$item__padding--left-right: 2.4%;

$toggle-button__size: $item__padding--top-bottom * 2;
$stripe__height: 4px;

$menu-width--resp: 350px;
