
/* colors */
$color__primary: rgb(30, 145, 255);
$color__primary--light: lighten($color__primary, 5%);
$color__primary--soft: lighten($color__primary, 40%);
$color__primary--soften:lighten($color__primary, 30%);
$color__primary--dark: darken($color__primary, 30%);
$color__heading--menu: rgb(255, 255, 255);
$color__heading--active: LightSeaGreen;
$color-boder: blue;
$color__gray--darken: rgb(108, 122, 137);
$color__gray--light: lighten($color__gray--darken, 40%);
$color__registration--text: rgb(255, 255, 255);
$color__registration--link: rgb(200, 159, 28);
$color__registration--hover: rgb(112, 127, 142);
$color__registration--active: rgb(40, 54, 69);
$color__inputBorder--normal: rgb(189, 195, 199);
$color__inputBorder--hover: rgb(112, 127, 142);
$color__inputBorder--focus: rgb(52, 73, 94);
$color__inputBorder--invalid: rgb(211, 84, 0);
$color__inputBorder--invalid-hover: rgb(231, 76, 60);
$color__inputBorder--invalid-focus: rgb(192, 57, 43);

/* fonts */
$font__main: Calibri;
$font__giant:24px;
$font__larger:22px;
$font__large:20px;
$font__small:16px;
$font__mini:14px;


/* layout */
$container: 940px;

/* menu values */
$item__padding--top-bottom: 20px;
$item__padding--left-right: 2.4%;

$toggle-button__size: $item__padding--top-bottom * 2;
$stripe__height: 4px;

$menu-width--resp: 350px;
