
/* main colors */
$color__primary: rgb(30, 145, 255);
$color__gray: desaturate($color__primary, 100%);
$color__white: rgb(255, 255, 255);
$color__error: rgb(211, 84, 0);

/*primary color variables*/
$color__primary--dark: darken($color__primary, 20%);
$color__primary--light: lighten($color__primary, 5%);
$color__primary--lighter: lighten($color__primary, 30%);
$color__primary--lightest: lighten($color__primary, 40%);
$color__primary--saturate: saturate($color__primary, 80%);
$color__primary--darkTransparent: rgba(darken($color__primary--dark, 13%), 0.8);

/*gray color variables*/
$color__gray--dark: darken($color__gray, 20%);
$color__gray--light: lighten($color__gray, 10%);
$color__gray--darker: darken($color__gray, 35%);
$color__gray--darkest: darken($color__gray, 65%);

/* fonts */
$font__main: Calibri;
$font__giant:1.5em;
$font__larger:1.375em;
$font__large:1.25em;
$font__small:1em;
$font__mini:0.875em;


/* layout */
$container: 940px;

/* menu values */
$item__padding--top-bottom: 20px;
$item__padding--left-right: 2.4%;

$toggle-button__size: $item__padding--top-bottom * 2;
$stripe__height: 4px;

$menu-width--resp: 350px;
