
$color__primary: DodgerBlue;
$color__primary--light: LightCyan;
$color__heading--menu: Indigo;
$color__heading--active: LightSeaGreen;
$color-boder: blue;

$font__main: Calibri;
$font__giant:24px;
$font__large:20px;
$font__small:12px;

