footer#footer.page-wrap.footer
  .footer__container
    each group in footer.contacts
      .footer__block
        h4.block__header= group.title
        each contact in group.contacts
          .block__contact
            span.block__contact__name= contact.name
            span.block__contact__phone= contact.phone
            a.block__contact__email(href="mailto:#{contact.email}")= contact.email
