section#location.page-wrap
  .loc-info
    .loc-info__text
      h2.module-header= location.title
      if overview
        span= overview.address
        span= overview.location.split(',')[0]+', '+overview.region+', '+overview.location.split(' ')[1]
    .loc-info__icon
      +icon('location')(class="location__icon")
  //- if (isDesktop)
  div#googleMap.location
  //- else
  //-   .location INSERT IMAGE FOR MOBILES!!!
