div#menu.module-wrapper
  .menu-wrapper
    h2.menu-header= overview.name
    div#cm_toggleWrapper.toggleWrapper
        div#cm_menuToggle.menuToggle
          div.menuToggle__stripe
          div.menuToggle__stripe
          div.menuToggle__stripe
    nav#cm_menuItems.menu
      each module in config.modules
        if module.isRendering
          a.menu__item(href="##{module.title.en}")= module.title.en
    .menu__socials
      +socialIcons(menu_socials)(class="menu__social-item")
  div#cm_darkenScreen.darkenScreen--hidden
