div#menu.module-wrapper
  .menu-wrapper
    img.menu-logo(src="images/logo.png")
    if overview
      h2.menu-header= overview.name
    div#cm_toggleWrapper.toggleWrapper
        div#cm_menuToggle.menuToggle
          div.menuToggle__stripe
          div.menuToggle__stripe
          div.menuToggle__stripe
    nav#cm_menuItems.menu
      each module in menuItms
        a.menu__item(href="##{module.component}")= module.title
    .menu__socials
      +socialIcons(menu_socials)(class="menu__social_icon")
  div#cm_darkenScreen.darkenScreen--hidden
