section#overview.page-wrap.overview
  .overview-wrap
      img.main-logo(src="images/JS2016_logo_brown-02.png")
  .overview__text-wrap
    div.overview__text--lviv Get ready for LvivJS!
    div.overview__text--date 27th August, 2016
