section#overview.page-wrap.overview
  .overview-wrap
      img.main-logo(src="images/JS2015_logo.png")
      .overview__text-wrap
        span.overview__text--lviv lviv
        span.overview__text--js js
        span.overview__text--2015 2015
