section#overview.page-wrap.overview
  .overview-wrap
      img.main-logo(src="images/JS2015_logo.png")
      .overview__text-wrap
        span.overview__text--lviv LvivJS is coming...
        span.overview__text--date August 27, 2016
