section#overview.page-wrap
  div.overview
    div.overview__content
      h2= overview.name
      div.overview__about= overview.about
      div.overview__info
          div.overview__infoBlock
            div.overview__infoIcon time
            div.overview__infoData.overview__infoData--when
              span when
          div.overview__infoBlock
            div.overview__infoIcon loc
            div.overview__infoData.overview__infoData--where
              span= overview.location
        div.overview__wrap
//- todo: icons