section#registration.page-wrap
  .registration
    h2.module-header= 'Buy tickets'
    script(src="http://lvivjs2017.ticketforevent.com/en/widget/?h=0&s=0&rc=1")
  .registration
    h2.module-header= 'Want to be a speaker?'
    .reg-text= registration.descr
    a(class="reg-button" target="_blank" href="https://docs.google.com/forms/d/e/1FAIpQLSd9KpyeE4UOMhgSoWDdnzpa2GtpJR6CLdQh6zWiTff8nS7KcQ/viewform")= registration.buttonText
