section#registration.page-wrap
  //- .registration
  //-   h2.module-header= 'Buy tickets'
  //-   script(src="http://lvivjs2016.ticketforevent.com/en/widget/?h=0&s=0&rc=1")
  .registration
    h2.module-header= 'Want to be a speaker?'
    .reg-text= registration.descr
    a(class="reg-button" target="_blank" href="https://docs.google.com/forms/d/1yuxE20S0dbg86Aa4zJlkoFQhkP3X_UijtuibgmZdDus/edit")= registration.buttonText
