section#registration.page-wrap
  .registration
    h2.module-header= registration.title
    .reg-text= registration.descr
    a(class="reg-button" target="_blank" href="http://lvivjs2015.ticketforevent.com/en/")= registration.buttonText
