doctype html
html(lang='en')
head
  meta(charset='utf-8')
  title LvivJS Conference
  meta(name='viewport', content='width=device-width, initial-scale=1')
  link(rel="shortcut icon" href="images/favicon.png?v=2.0")
  link(rel='stylesheet', href='style/styles.css?1498985584449')
  if (isIE9)
    style.
      .module-header {
        text-align: center;
      }
      .footer__container {
        overflow: hidden;
      }
      .footer__block {
        display: inline-block;
        width: calc(100% / 3.5);
      }
      .loc-info__text {
        width: calc(100% - 132px);
        float: left;
      }
      .loc-info__text > h2.module-header {
        text-align: right;
      }
      .loc-info__icon {
        float: left;
      }
      .location__icon {
        margin: 0 calc((100% - 32px) /2);
      }
      #menu {
        top: 0;
      }
      .menu {
        width: calc(100% - 158px);
        display: inline-block;
      }
      .menu__socials {
        width: 152px;
        display: inline-block;
      }
      .overview-wrap {
        overflow: hidden;
      }
      #registration {
        padding: calc((459px - 398px) /2);
      }
      .tabs__item {
        display: inline-block;
      }
      .session {
        overflow: hidden;
      }
      .session__time {
        display: block;
        float: left;
      }
      .session__arrangement {
        display: block;
        float: left;
      }
      .speaker {
        display: inline-block;
      }
      .speaker__photo {
        margin: 0 auto;
      }
#app
  a.invisible(href="/nolink")
  .page-wrap
    include mixins/icons.jade
    include partitions/menu.jade
    include partitions/overview.jade
    include partitions/speakers.jade
    //- include partitions/schedule.jade
    include partitions/registration.jade
    include partitions/partners.jade
    include partitions/location.jade
    include partitions/footer.jade

script(src="https://cdnjs.cloudflare.com/ajax/libs/classlist/2014.01.31/classList.min.js")
script(type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=#{config.google.mapsAPIKey}")
script(src="scripts/smoothscroll.js")
script(src="scripts/bundle.js")
