doctype html
head
  meta(charset='utf-8')
  title Conf maker
  link(rel='stylesheet', href='style/styles.css')
  meta(name='viewport', content='width=device-width, initial-scale=1')
#app
  .page-wrap
    include partitions/header.jade
    include partitions/footer.jade
