@import '../variables';
@import '../mixins';

#app {
	display: flex;
	justify-content: center;
}

.page-wrap {
	display: flex;
	flex-direction: column;
	width: 100%;
	justify-content: center;
}

.module-wrapper {
	@include container-ext;
}

.module-header {
	@include container-ext;
	padding: 25px;
	background: $color__primary--dark;
	color: $color__heading--menu;
	font-size: 2em;
	text-transform: capitalize;
}

h1 {
	@include container-ext;
	text-align: center;
	color: $color__primary;
	font-size: 5em;
	font-style: italic;
	padding: 25px;
}

.invisible {
	display:none
}
