#app {
	@include container-ext;
}

.page-wrap {
	@include container-ext;
	align-items: center;
	flex-direction: column;
	width: 100%;
}

.module-wrapper {
	@include container-ext;
}

.module-header {
	@include container-ext;
	@include bp(medium) {
		font-size: 24px;
		font-weight: 500;
		padding: 35px 0 23px;
	}
	color: $color__grayscale--9;
	font-size: $font__size--6;
	font-weight: 400;
	padding: 42px 0 26px;
	text-transform: capitalize;
	width: 100%;
}
