#googleMap {
	width: 100%;
	height: 626px;
	@include bp(medium) {
		height: 254px;
	}
}
#locations {
	position: relative;
	@include bp(medium) {
		display: flex;
		flex-direction: column;
	}
}

.loc-info {
	color: #505050;
	text-shadow: 0 0 0.5px #999;
	position: absolute;
  left: $session-time-width;
  top: 31px;
  width: 27.4666666667%;
  background: rgb(255, 255, 255);
  height: 221px;
  display: flex;
	transition: all 0.4s;
	@include bp(medium) {
		position: static;
		width: 100%;
		height: 154px;
	}
	@include bp(large) {
		cursor: pointer;
		&:hover {
			background: rgba(195, 195, 195, 0.64);
			path {
				fill: $color__gray;
			}
		}
	}

}

.loc-info__text {
	flex-grow: 1;
	text-align: right;
	@include bp(medium) {
		text-align: center;
	}
	span {
		width: 100%;
		display: block;
		font-size: 1.07em;
		line-height: 1.46em;
		@include bp(medium) {
			font-size: 0.96em;
	    font-weight: 600;
			line-height: 1.4em;
		}
	}
}

.loc-info__text > h2.module-header {
	display: block;
  text-align: right;
  padding: 0;
  font-size: 2.4em;
  font-weight: 500;
  margin: 37px 0 46px;
	transition: margin 0.4s, padding 0.4s, color 0.1s;
	@include bp(medium) {
		text-align: center;
    margin: 42px 0 17px;
    font-size: 1.45em;
	}
}

.loc-info__icon {
	height: 100%;
	width: 30.62136%;
	margin-left: 2.66990291262%;
	@include bp(medium) {
		display: none;
	}
}

.location__icon {
	margin-top: 47px;
	height: 62px;
	width: 33.4px;
	transition: all 0.4s;
	path {
		fill: rgb(231, 209, 38);
		transition: all 0.4s;
	}
}

.location__control {
		margin: 10px;
    padding: 5px 14px 5px 14px;
    box-shadow: rgba(0, 0, 0, 0.298039) 0px 1px 4px -1px;
    border-radius: 2px;
    background-color: $color__white;
	  text-align: center;
	  z-index: 0;
	  position: absolute;
		right: 0;
	  bottom: 10px;
}
.location__controlText {
	display: block;
	z-index: 1;
}
.location__controlText:hover {
	text-decoration:underline;
}

.loc-wrap {
	position: relative;
}

.loc-info--min {
	height: 73px;
  top: 470px;
  left: 0;
	// background: rgba(195, 195, 195, 0.64);
	// path {
	// 	fill: $color__gray;
	// }
	.loc-info__text {
		margin-top: 13px;
	}
	.loc-info__text > h2.module-header {
		height: 0;
		margin: 0;
		padding: 0;
		visibility: hidden;
		color: rgba(255, 255, 255, 0);
		z-index: 0;
	}
	.location__icon {
		margin-top: 5px;
	}
}
