#menu {
	@include container-ext;
	background: $color__grayscale--13;
	z-index: 3;
	width: 100%;
	height: $menu__height;
	position: fixed;
	left: 0;
	@include bp(medium) {
		background: none;
		position: fixed;
		height: $toggle-button__height;
		box-shadow: 0 2px 3px rgba(0, 0, 0, 0.2);
	}
}
//set margim to next element after menu equals to menu height
.overview {
	margin-top: $menu__height;
	@include bp(medium) {
		margin-top: $toggle-button__height;
	}
}

.toggleWrapper {
	display: none;
	@include bp(medium) {
		background: $color__grayscale--1;
		display: flex;
		height: auto;
		justify-content: flex-end;
	}
}

.menu-wrapper {
	@include container-int;
	margin: 0;
	justify-content: space-between;
	position: relative;
	@include bp(medium) {
		position: fixed;
		top: 0;
		left: 0;
		flex-direction: column;
	}
}

.menu {
	display: flex;
	margin: 0;
	@include bp(medium) {
		background: $color__grayscale--1;
		flex-direction: column;
		max-width: $menu-width--resp;
		width: 100%;
		position: fixed;
		left: - $menu-width--resp;
		transition: left 0.4s;
		height: 100%;
		margin: 0;
	}
}

.menu--visible {
	@include bp(medium) {
		left: 0px;
	}
}


.menu__item{
	color: $color__grayscale--8;
	display: inline-block;
	list-style: none;
	font-size: $font__size--3;
	padding: 26px 17.6px 14px;
	transition: all 0.2s;
	text-transform: capitalize;
	text-align: left;
	font-weight: 400;
	@include bp(large) {
		&:hover{
			color: $color__grayscale--4;
		}
	}
	@include bp(medium) {
		&:hover{
			background: $color__primary;
		}
		display: block;
		padding: 20px 40px;
		font-size: 1.4em;
		color: $color__grayscale--13;
	}
}

.menu__item:first-child {
	padding-left: 7px;
	@include bp(medium) {
		padding: 20px 40px;
	}
}

.menu__socials {
	display: flex;
	margin-right: 6px;
	@include bp(medium) {
		display: none;
	}
}

.menu__social_icon {
	display: block;
	width: 28px;
	height: 28px;
	margin: 21px 5px 0;
	&:hover {
		.path-1 {
			fill: $color__grayscale--6;
		}
	}
	.path-1 {
		fill: $color__grayscale--8;
		transition: all 0.3s;
	}
	.path-2 {
		fill: $color__grayscale--13;
	}
}

.menu-header {
	display: none;
	@include bp(medium) {
		display: block;
		position: absolute;
		color: $color__grayscale--13;
		text-transform: capitalize;
		background: url('../images/logo.jpg') 7px 8px no-repeat;
		background-size: 69px;
    width: 100%;
    max-width: 240px;
    font-size: 26px;
    font-weight: 700;
    padding: 10px 0 3px 32%;
    line-height: 31px;
    text-align: left;
	}
}

/* toggle visibility of menu on smalles screens */

.menuToggleBox {
	display: none;
}

.menuToggle {
	display: none;

	@include bp(medium) {
		cursor: pointer;
		display: block;
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: space-around;
		padding: 25px 0 30px;
		height: $toggle-button__height;
		width: $toggle-button__width;
	}
}

.menuToggle__stripe {
	height: $stripe__height;
	margin: 0 auto;
	width: 64%;
	background: $color__grayscale--13;
	@include border-radius($stripe__height / 2);
	// transition: margin 0.07s;
}

.menuToggle:hover .menuToggle__stripe:nth-child(2) {
	margin: 3.5px auto;
}

.darkenScreen--hidden {
	cursor: pointer;
	position: fixed;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	background: rgba(3, 3, 3, 0.64);
	opacity: 0;
	transition: opacity 0.3s;
	visibility: hidden;
	z-index: -1;

	@include bp(large) {
		display: none;
	}
}

.darkenScreen--visible {
		opacity: 1;
		visibility: visible;
}
