@import '../variables';
@import '../mixins';

#menu {
	@include container-ext;
	background: $color__primary--dark;
	z-index: 2;
	width: 100%;
	position: relative;
	@include bp(medium) {
		top: 0px;
	}
}

.toggleWrapper {
	display: none;
	@include bp(medium) {
		display: block;
		height: auto;
		background: $color__primary--dark;
	}
}

.menu-wrapper {
	@include container-int;
	margin: 0;
	@include bp(medium) {
		position: fixed;
		top: 0;
		left: 0;
		flex-direction: column;
	}
}

.menu {
	@include container-int;
	justify-content: center;
	flex-direction: row;
	@include bp(medium) {
		flex-direction: column;
		justify-content: flex-start;
		max-width: $menu-width--resp;
		position: fixed;
		background: $color__primary--dark;
		left: - $menu-width--resp;
		transition: left 0.4s;
		height: 100%;
	}
}

.menu--visible {
	@include bp(medium) {
		left: 0px;
	}
}



.menu__item{
	display: inline-block;
	list-style:none;
	font-size: $font__giant;
	color: $color__white;
	padding: $item__padding--top-bottom $item__padding--left-right;
	transition: all 0.2s;
	text-transform: capitalize;
	text-align: left;
	@include bp(medium) {
		display: block;
		padding-left: 40px;
	}
}

.menu__item:hover{
	color:$color__primary;
	background:$color__white;
}

/* toggle visibility of menu on smalles screens */
.menuToggleBox {
	display: none;
}

.menuToggle {
	display: none;

	@include bp(medium) {
		@include border-radius(5px);
		background: $color__primary--lighter;
		cursor: pointer;
		display: block;
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: space-around;
		padding: 6px 0;
		height: $toggle-button__size;
		width: $toggle-button__size;
		margin-left: 10px;
		transition: justify-content 0.2s;
	}
}

.menuToggle__stripe {
	height: $stripe__height;
	margin: 2px auto;
	width: 70%;
	background: $color__primary--dark;
	@include border-radius($stripe__height / 2);
	transition: margin 0.07s;
}

.menuToggle:hover .menuToggle__stripe:nth-child(2) {
	margin: 4.5px auto;
}

.darkenScreen--hidden {
	cursor: pointer;
	position: fixed;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	background: rgba(3, 3, 3, 0.64);
	opacity: 0;
	transition: opacity 0.3s;
	visibility: hidden;
	z-index: -1;

	@include bp(large) {
		display: none;
	}
}

.darkenScreen--visible {
		opacity: 1;
		visibility: visible;
}
