#overview {
  position: relative;
  height: 400px;
}

.overview {
  @include bp(medium) {
    height: 145px;
    padding: 0 7px 0;
    margin-bottom: 0;
  }
  background-image: url('../images/background-2.png');
  background-size: cover;
  align-content: center;
  display: flex;
  flex-direction: column;
  margin-bottom: 22px;
  height: inherit;
  width: 100%;
}

.overview-wrap {
  @include container-int;
  align-items: center;
  // background-image: url('../images/header_picture.jpg');
  justify-content: center;
  height: inherit;
  @include bp(medium) {
    justify-content: center;
  }
  @include bp(small) {
    flex-direction: column;
  }
}

.main-logo {
  margin-right: -7px;
  @include bp(medium) {
    max-width: 350px;
    min-width: 300px;
    width: 70%;
    margin: 0;
  }
  @include bp(small) {
    margin-top: 10px;
    width: 65%;
    min-width: 259px;
    flex-shrink: 0;
  }
}

.overview__text--lviv,
.overview__text--js,
.overview__text--2015 {
  color: #5e5e5e;
  text-transform: uppercase;
  font-size: 52px;
  font-weight: 500;
  @include bp(medium) {
    color: #474747;
  }
  @include bp(small) {
    font-size: 30px;
  }
}

.overview__text-wrap {
  display: flex;
  justify-content: space-between;
  width: 39%;
  align-self: stretch;
  align-items: center;
  margin-right: 6.8%;
  @include bp(medium) {
    align-items: center;
    flex-direction: column;
    justify-content: center;
    width: 28%;
    margin: 0;
  }
  @include bp(small) {
    align-items: center;
    flex-grow: 1;
    width: 100%;
  }
}

.overview__text--js {
  font-size: 80px;
  margin: 0 35px;
  @include bp(medium) {
    margin: 0;
  }
  @include bp(small) {
    display: none;
  }
}
