#overview {
  position: relative;
  height: calc(100vh - 283px); // minus footer, for banner time
}

.overview {
  @include bp(medium) {
    height: 145px;
    padding: 0 7px 0;
    margin-bottom: 0;
  }
  background-image: url('../images/background-2.png');
  background-size: cover;
  align-content: center;
  display: flex;
  flex-direction: column;
  // margin-bottom: 22px;
  height: inherit;
  width: 100%;
}

.overview-wrap {
  @include container-int;
  align-items: center;
  justify-content: center;
  height: inherit;
  @include bp(medium) {
    justify-content: center;
  }
  @include bp(small) {
    flex-direction: column;
  }
}

.main-logo {
  margin-right: -7px;
  @include bp(medium) {
    max-width: 350px;
    min-width: 300px;
    width: 70%;
    margin: 0;
  }
  @include bp(small) {
    margin-top: 10px;
    width: 65%;
    min-width: 259px;
    flex-shrink: 0;
  }
}

.overview__text-wrap {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 39%;
  align-items: center;
  margin-left: 6.8%;
  @include bp(large) {
    min-width: 450px;
  }
  @include bp(medium) {
    justify-content: center;
    width: 28%;
    margin: 0;
  }
  @include bp(small) {
    flex-grow: 1;
    width: 100%;
  }
}

.overview__text--lviv,
.overview__text--date {
  width: 100%;
  text-align: center;
  color: #5e5e5e;
  font-size: 52px;
  font-weight: 500;
  @include bp(medium) {
    color: #474747;
  }
  @include bp(small) {
    font-size: 30px;
  }
}

.overview__text--lviv {
  @include bp(medium) {
    display: none;
  }
}

.overview__text--date {
  @include bp(small) {
    text-align: center;
  }
}
