@import '../variables';
@import '../mixins';

.overview {
    @include container-ext;
    background: url('../images/logo-main.jpg') center center no-repeat;
    height:752px;
    width: 100%;
    z-index:1;
}
.overview__wrap {
    position: absolute;
    background-color: rgba(30, 145, 255,0.1);
    width: 100%;
    height: 752px;
    z-index: 0;
    margin-top: 0;
    left: 0;
    top: 0;
}
.overview__content {
    z-index: 2000;
    width: 100%;
    display: flex;
    flex-flow: row wrap;
    align-content: center;
    position: relative;
    h2 {
        color: $color__primary--dark;
        text-transform: uppercase;
        text-align: center;
        font-size: 5.4375em;
        padding: 25px 0;
        margin: 30px auto;
        -webkit-text-stroke-width: 2px;
        -webkit-text-stroke-color: $color__white;
        text-shadow: 1px 1px 2px #000, 0 0 1em #000;
        z-index: 1;
        @include bp(medium) {
        	font-size: 4.1875em;
        	margin: 20px auto;
        }
        @include bp(small) {
    		font-size: 3em;
            -webkit-text-stroke-width: 1.5px;
    	}
        @include bp(very-small) {
            font-size: 2.5em;
        }
    }
}
.overview__about {
    width: 60%;
    margin: 20px 20%;
    padding: 25px;
    color: $color__white;
    font-size: $font__giant;
    text-align: center;
    text-shadow: 1px 1px 2px #000, 0 0 1em #000;
    z-index: 1;
    @include bp(small) {
        margin: 10px auto;
        width: 80%;
        font-size: $font__large;
    }
}
.overview__info {
    display: flex;
    margin: 20px auto;
    z-index: 1;
    @include bp(small) {
    	flex-direction: column;
    }
}

.overview__infoBlock {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 30px;
  background: $color__primary--darkTransparent;
  margin: 15px;
  font-size: $font__giant;
  color: $color__white;
  @include bp(medium) {
    padding: 20px;
    font-size: $font__large;
  }
    @include bp(small) {
    padding: 15px;
  }
  @include bp(very-small) {
    padding: 10px;
    font-size: $font__small;
  }
}

.overview__infoIcon {
    margin: 10px;
    display: block;    
    .ui__comp {
        fill:$color__white;
        width: 45px;
        height: 45px;
        @include bp(medium) {
            width: 30px;
            height: 30px;
        }
    }
}
.overview__infoData {
    display: flex;
    align-items: center;
    span {
        margin:0 5px;
    }
}
