.partners {
@include container-int;
	flex-direction: column;
	margin-top: 12px;
	@include bp(medium) {
		margin: 0;
	}
}
#partners {
	margin-bottom: 44px;
}

#partners .module-header {
	@include bp(medium) {
		padding: 0;
	}
}

.partners__category {
	display: flex;
	flex-direction: column;
	margin-top: 11px;
}

.partners__category:nth-child(2) .partners__items {
	margin-top: -31px;
	margin-bottom: -6px;
}

.partners__category-header {
	color: $color__partners-header;
	text-align: center;
	text-transform: uppercase;
	font-weight: 700;
	font-size: $font__size--3;
	z-index: 1;
	@include bp(medium) {
		display: none;
	}
}

.partners__items {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	align-content: flex-start;
	width: 100%;
	margin-top: 11px;
	margin-bottom: 34px;
	align-items: center;

	//this styles are specific to square images
	a[title="Lohika Systems"],
	a[title="Remit"],
	a[title="Team International"] {
		background-size: cover;
		height: 177px;
		@include bp(medium) {
			height: 88px;
		}
	}
	.partners__item-link {
		display: inline-block;
		margin: 0 20px;
		height: 55px;
		width: 172px;
		background-repeat: no-repeat;
		background-size: 100% auto;
		background-position: center center;
		@include bp(medium) {
			width: 88px;
			margin: 0 3px;
		}
	}
}

.partners__category:first-of-type > .partners__items {
	margin: 0;
}
