@import '../variables';
@import '../mixins';

.partners {
	@include container-int;
	flex-direction: column;
}

#partners {
		background: #f2f2f2;
}

.partners__category {
	display: flex;
	flex: 1;
	flex-direction: column;
	align-items: center;
}

.partners__category-header {
	color: $color__primary;
	font-size: 2em;
	padding: 25px;
	text-transform: capitalize;
}

.partners__items {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
	flex: 1;
}

.partners__item-link {
	margin: 20px;
	flex-grow: 1;
}

// .partners__category-header--organizers {
// 	color: $color__primary;
// 	font-size: 2.5em;
// 	margin-top: 40px;
// }