#registration {
  @include bp(medium) {
    height: auto;
    margin-bottom: 4px;
  }
  background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAgAAAAICAYAAADED76LAAAAPklEQVQYV2N8flHtPwMO8PHTXwZGXApAkvx8zNgVwCRBBmOYgCyJoQBdEkUBNkm4AlySYAU3Div/B7kWFwAABzMr0U4Mid0AAAAASUVORK5CYII=);
  background-size: 8px 8px;
  height: 459px;
  margin-bottom: 31px;
}

.registration > h2.module-header {
  @include bp(medium) {
    padding: 36px 0 25px;
  }
  padding: 40px 0px 31px;
}

.registration {
  @include container-int;
  @include bp(medium) {
    height: 100%;
    margin: 0;
  }
  form {
    justify-content: space-between;
    flex-direction: column;
    display: flex;
    align-items: center;
  }
  background: $color__grayscale--1;
  flex-direction: column;
  height: 394px;
  justify-content: flex-start;
  margin: 0 auto;
  max-width: 398px;
  width: 100%;
}

.registration__field {
  @include container-ext;
  @include bp(medium) {
    margin-top: 3px;
    width: 100%;
  }
  &:last-child {
    @include bp(medium) {
      margin-top: 17px;
    }
    width: 304px;
  }
  flex-direction: row;
  flex-shrink: 0;
  flex-wrap: wrap;
  margin: 10px auto 0;
}

.registration__tip {
  width: 100%;
  text-align: center;
}

.label-regInput {
  background: $color__grayscale--2;
  border-bottom: 1px solid $color__grayscale--3;
  border-left: 1px solid $color__grayscale--3;
  border-top: 1px solid $color__grayscale--3;
  color: #A6A6A6;
  display: inline-block;
  font-weight: 500;
  font-size: $font__size--1;
  height: 40px;
  line-height: 41px;
  order: 0;
  padding-left: 7px;
  text-align: left;
  text-transform: capitalize;
  width: 60px;
}

.registration__input {
  @include bp(medium) {
    width: 213px;;
  }
  &:focus {
    &+.label-regInput {
      background: $color__grayscale--1;
      border-color: $color__primary;
      border-width: 2px;
      line-height: 39px;
      padding-left: 6px;
    }
    background: $color__grayscale--1;
    border-color: $color__primary;
    border-width: 2px;
  }
  background: $color__grayscale--2;
  border-bottom: 1px solid $color__grayscale--3;
  border-left: none;
  border-right: 1px solid $color__grayscale--3;
  border-top: 1px solid $color__grayscale--3;
  color: $color__grayscale--9;
  font-size: $font__size--2;
  font-weight: 400;
  height: 40px;
  order: 1;
  outline: none;
  padding: 4px 0 0px 10px;
  width: 244px;
}

.registration__input[type="email"], #cm_email {
  color: $color__link;
  text-decoration: underline;
}

.registration__input--invalid {
  &:focus {
    color: $color__grayscale--9;;
    &+label {
      color: #A6A6A6;
    }
  }
  background: #FF6969;
  color: #fff;
}

.registration__tip{
  color: $color__grayscale--4;
  font-size: $font__size--1;
  margin-bottom: -5px;
  order: 2;
}

.registration__submit {
  @include bp(medium) {
    margin: 0;
    width: 273px;
  }
  &:hover {
    background-color: $color__reg-btn--hover;
    box-shadow: 0 4px $color__reg-btn-shad--hover;
  }
  &:active {
    position: relative;
    top: 4px;
    box-shadow: none;
  }
  background-color: $color__reg-btn;
  border: none;
  border-radius: 5px;
  box-shadow: 0 4px $color__reg-btn-shad;
  color: $color__grayscale--1;
  cursor: pointer;
  font-size: $font__size--3;
  font-weight: 700;
  height: 46px;
  line-height: 1.05em;
  margin:24px 0 51px 1px;
  outline: none;
  text-align: center;
  text-transform: capitalize;
  width: 304px;
  z-index: 1;
}

.regist-resp {
  align-items: center;
  color: $color__grayscale--1;
  display: flex;
  font-size: $font__size--6;
  height: 282px;
  text-shadow: 0 1px 4px #745400;
}
