#registration {
  height: 459px;
  background: repeat linear-gradient(
    -45deg,
    rgb(231, 209, 38),
    rgb(231, 209, 38) 49%,
    rgb(216, 195, 35) 49%,
    rgb(216, 195, 35) 50%,
    rgb(231, 209, 38) 51%);
  background-size: 8px 8px;
  margin-bottom: 31px;
  @include bp(medium) {
    height: 319px;
    margin-bottom: 0;
  }
}

.registration > h2.module-header {
  padding: 40px 0px 31px;
  @include bp(medium) {
    padding: 36px 0 25px;
  }
}

.registration {
    @include container-int;
    justify-content:center;
    flex-direction: column;
    justify-content: flex-start;
    background: $color__grayscale--1;
    max-width: 398px;
    width: 100%;
    margin: 0 2px 2px 0;
    height: 394px;
    form {
      justify-content: space-between;
      flex-direction: column;
      display: flex;
      align-items: center;
    }
    @include bp(medium) {
      height: 100%;
      margin: 0;
    }
}

.registration__field {
  @include container-ext;
  flex-direction: row;
  margin-top: 10px;
  flex-wrap: wrap;
  span {
    width: 100%;
    text-align: center;
  }
  @include bp(medium) {
    margin-top: 3px;
  }
  &:last-child {
    width: 304px;
    @include bp(medium) {
      margin-top: 17px;
    }
  }
}
.label-regInput {
  width: 60px;
  background: $color__grayscale--2;
  text-transform: capitalize;
  height: 40px;
  padding-left: 7px;
  font-weight: 500;
  font-size: $font__size--1;
  line-height: 41px;
  text-align: left;
  color: #A6A6A6;
  border-top: 1px solid $color__grayscale--3;
  border-left: 1px solid $color__grayscale--3;
  border-bottom: 1px solid $color__grayscale--3;
  order: 0;
}

.registration__input {
  outline: none;
  background: $color__grayscale--2;
  width: 244px;
  height: 40px;
  border-top: 1px solid $color__grayscale--3;
  border-right: 1px solid $color__grayscale--3;
  border-bottom: 1px solid $color__grayscale--3;
  border-left: none;
  order: 1;
  padding: 4px 0 0px 10px;
  font-size: $font__size--2;
  font-weight: 700;
  @include bp(medium) {
    width: 213px;;
  }
}

.registration__input:focus {
  background: $color__grayscale--1;
  border-width: 2px;
  border-color: $color__primary;

  &+.label-regInput {
    background: $color__grayscale--1;
    border-width: 2px;
    border-color: $color__primary;
    padding-left: 6px;
    line-height: 39px;
  }
}

.registration__input[type="email"], #cm_email {
  color: $color__link;
  text-decoration: underline;
}

input, label {
  vertical-align: middle;
}

.registration__input--invalid {
  background: #FF6969;
  color: #fff;
  &:focus {
    color: initial;
    &+label {
      color: #A6A6A6;
    }
  }
}

.registration__tip{
  display: block;
  color: $color__grayscale--4;
  font-size: $font__size--1;
  order: 2;
  margin-bottom: -5px;
}
.registration__tip.invisible{
    display:none
}

.registration__submit {
  outline: none;
  font-size: $font__size--3;
  line-height: 1.05em;
  font-weight: 700;
  color: $color__grayscale--1;
  text-align: center;
  cursor: pointer;
  border: none;
  background-color: $color__reg-btn;
  text-transform: capitalize;
  width: 304px;
  height: 46px;
  margin-bottom: 51px;
  margin-top: 24px;
  margin-left: 1px;
  z-index: 1;
  border-radius: 5px;
  box-shadow: 0 4px $color__reg-btn-shad;
  @include bp(medium) {
    margin: 0;
    width: 273px;
  }
  &:hover {
    background-color: $color__reg-btn--hover;
    box-shadow: 0 4px $color__reg-btn-shad--hover;
  }
  &:active {
    position: relative;
    top: 4px;
    box-shadow: none;
  }
}

.regist-resp {
  color: #FFFFFF;
  font-size: 2.5em;
  margin: 40px 0 50px;
  text-shadow: 0 1px 4px #745400;
}
