.schedule {
    margin-top: 50px;
    width: 100%;
    text-align: left;
    input:focus {
        outline: 0;
    }
}

#schedule .module-header {
  background: initial;
  color: #58595b;
  padding: 0;
  margin-top: 37px;
  font-weight: 400;
  font-size: 2.4em;
}


.conference {
  width: 100%;
    ul.conf-hidden {
      display: none;
    }
    ul {
      display: flex;
      transition: height 0.2s;
      margin-left: $session-time-width;
      border-bottom: 8px solid $color__primary--schedule;
      li {
        list-style: none;
        background-color: #B3B3B3;
        cursor: pointer;
        color: #151317;
        font-weight: 700;
        text-transform: capitalize;
        height: 41px;
        width: 93px;
        margin-right: 4px;
        text-align: center;
        line-height: 2.4em;
        font-size: 1.16em;
        position: relative;
      }
      li.conference__tab--active {
        background-color: $color__primary--schedule;
      }
      li.conference__tab--active:hover {
        background-color: $color__primary--schedule;
      }
      li:hover {
        background: $color__gray--light;
      }
    }
}

.conference__title {
    padding: 15px 0;
    display: flex;
    justify-content: space-between;
    display: none;
    h3 {
        font-size: $font__large;
        color: $color__primary;
        margin: 10px 10px 10px 20px;
        flex-shrink: 5;
        @include bp(very-small) {
            flex-shrink: 7;
            margin: 10px;
        }
    }
    .schedule__toggleButton {
        display: block;
        cursor: pointer;
        margin: 10px;
        flex-shrink: 0;
        svg.ui__comp {
            width: 30px;
            height: 30px;
            border: 0px;
            transition: transform 0.2s;
            .arrow{
                fill: $color__primary--dark;
            }
        }
    }
    .schedule__toggleButton.arrowDown {
        svg.ui__comp {
            transform: rotate(180deg);
        }
    }
}
.timetable {
    transition: height 0.2s;
    position: relative;
}
.session {
    display: flex;
    justify-content: flex-start;
    @include bp(small) {
        flex-direction: column;
    }
}
.session:first-child .session__time {
  padding: 30px 29px 51px 0;
}
.session:first-child .session__arrangement {
  padding: 25px 0 0 26px;
}

.session__time {
    width: $session-time-width;
    background: $color__gray;
    flex-shrink: 0;
    padding: 5px 29px 51px 0 ;
    text-align: right;
    color: $color__white;
    font-weight: 500;
    @include bp(small) {
        margin: 10px 0;
        width: 100%;
    }
    span {
      font-size: 1.2em;
      font-weight: 600;
    }
    span+span:before{
        content: " - ";
        display: inline-block;
        margin: 0 4px;
    }
}
.session--entertainment {
  color: #717275;
  .session__time {
    color: $color__primary;
  }
}

.session__arrangement {
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    flex-shrink: 3;
    width: 100%;
    padding-left: 26px;
    max-width: 655px;
    width: 100%;
    margin-bottom: 14px;
}
.session--report > .session__arrangement {
  color: lighten($color__gray, 10%);
}
.session__name {
  margin-bottom: 1px;
  position: relative;
  padding-left: 19px;
  font-size: 1.2em;
  color: #151317;
  text-shadow: 0 0 1px #8A898B;
  font-weight: 600;
  &:hover {
    cursor: pointer;
  }
  &:hover > .session__icon:before {
    background: #504E51;
  }
  &:before {
    content: '';
    display: block;
    width: 13px;
    height: 3px;
    background: #fff;
    position: absolute;
    top: 17px;
    left: 5px;
    border-radius: 1px;
    z-index: 1;
  }
  .session__icon{
    position: relative;
    &:before {
      content: '';
      width: 23px;
      height: 23px;
      background: #8E8E8E;
      display: inline-block;
      border-radius: 12px;
      position: relative;
      right: 18.5px;
      top: 7px;
    }
    &:after {
      content: '';
      display: block;
      width: 3px;
      height: 13px;
      background: #FFF;
      position: absolute;
      top: 7px;
      left: -9px;
      z-index: 1;
      border-radius: 1px;
    }
  }
  .session__icon--expanded{
    &:before {
      background: #504E51;
    }
    &:after {
      display: none;
    }
  }
}

.session--entertainment .session__name {
  margin: 5px 0 1px 23px;
  cursor: initial;
  &:before {
    display: none;
  }
  span {
    &:before {
      display: none;
    }
    &:after {
      display: none;
    }
  }
}

.speaker__name--schedule {
    flex-shrink: 3;
    display: flex;
    font-size: 1.07em;
    color: inherit;
    margin: 4px 0 0 43px;
    span + span {
      margin-left: 5px;
    }
}

.session__info {
    margin-bottom: 10px;
    font-weight: bold;
    justify-content: space-between;
    flex-direction: row;
    @include bp(very-small) {
       flex-direction: column;
       margin-bottom: 0;
    }
}
.session__info--right {
    justify-content: flex-end;
}
.session__about {
    margin-bottom: 10px;
    color: lighten($color__gray, 10%);
    padding: 8px 0 0 42px;
    font-size: 1.1em;
    font-weight: 500;
    line-height: 1.42em;
}

.session:last-child {
    border-bottom: 0px;
}

.session__calendButtons {
  margin-top: 16px;
  font-size: 0.86em;
}

a.session__calendLink {
    color: #1b75ba;
    text-decoration: underline;
    font-weight: bold;
    margin: 0 7px;
}
.toggleButtonImage {
  cursor: pointer;
}
.arrow {
  fill: $color__primary;
}

.conf-hidden {
  display: none;
}

.table-hidden {
  display: none;
}
