#schedule {
  margin-top: 1px;
}

.schedule {
    margin-top: 25px;
    width: 100%;
    text-align: left;
    input:focus {
        outline: 0;
    }
    @include bp(medium) {
      margin-top: 1px;
    }
}

.conference {
  width: 100%;
    ul.conf-hidden {
      display: none;
    }
    ul {
      display: flex;
      transition: height 0.2s;
      margin-left: $session-time-width;
      border-bottom: 8px solid $color__primary;
      @include bp(medium) {
        margin: 0;
        padding: 0 7px;
        border: none;
      }
      li {
        list-style: none;
        background-color: $color__grayscale--5;
        cursor: pointer;
        color: $color__grayscale--11;
        font-weight: 500;
        text-transform: capitalize;
        height: 41px;
        width: 93px;
        margin-right: 4px;
        text-align: center;
        line-height: 44px;
        font-size: 1.16em;
        position: relative;
        @include bp(medium) {
          height: 44px;
          width: 117px;
        }
      }
      li.conference__tab--active {
        background-color: $color__primary;
      }
      li.conference__tab--active:hover {
        background-color: $color__primary;
      }
      li:hover {
        background: $color__grayscale--6;
      }
    }
}

.timetable {
    position: relative;
    @include bp(medium) {
      padding-top: 27px;
    }
}
.session {
    display: flex;
    justify-content: flex-start;
    @include bp(medium) {
        flex-direction: column;
        position: relative;
        margin-bottom: 19px;
        width: 100%;
    }
}
.session:first-child .session__time {
  padding: 32px 30px 53px 0;
  @include bp(medium) {
    padding: 0;
  }
}
.session:first-child .session__arrangement {
  padding: 25px 0 0 26px;
  .session__icons {
    top: 32px;
  }
  @include bp(medium) {
    padding: 0 0.8547008547% 0;
    .session__icons {
      top: -29px;
    }
  }
}

.session__icon--minus {
  path {
    fill: #504e51;
  }
}

.session__icon--plus {
  path {
    fill: #8e8e8e;
  }
}

.session__time {
    width: $session-time-width;
    background: $color__grayscale--9;
    flex-shrink: 0;
    padding: 7px 30px 53px 0 ;
    text-align: right;
    color: $color__grayscale--1;
    font-weight: 500;
    @include bp(medium) {
      width: 88.2352941176%;
      background: none;
      color: #8e8e8e;
      text-align: left;
      margin-left: 11.7647058824%;
      margin-top: 4px;
      font-size: 1.18em;
      padding: 0;
    }
    span {
      font-size: $font__size--2;
      font-weight: 700;
    }
    span+span:before{
        content: " - ";
        display: inline-block;
        margin: 0 6px;
    }
}

.session__time--about-expanded {
  color: #504e51;
}

.session--entertainment {
  .session__time {
    color: $color__primary;
    @include bp(medium) {
      color: $color__grayscale--9;
    }
  }
  .session__icon {
    cursor: initial;
    path{
      fill: $color__primary;
    }
  }
  .session__arrangement {
    border-color: $color__primary;
  }
}

.session__arrangement {
  display: flex;
  flex-direction: column;
  padding-left: 26px;
  max-width: 655px;
  width: 100%;
  margin-bottom: 13px;
  color: $color__grayscale--9;
  font-size: $font__size--2;
  font-weight: 400;
  position: relative;
  @include bp(medium) {
    margin: 8px 0 -5px 4.2%;
    padding: 0 3px 0;
    border-left: 4px solid #777;
    width: 93.8502673797%;
  }
}
.session--report > .session__arrangement {
  color: $color__grayscale--9;
}
.session__name {
  padding-left: 40px;
  font-size: $font__size--3;
  color: $color__grayscale--14;
  font-weight: 500;
  line-height: 35px;
  @include bp(medium) {
    padding: 37px 0 0 12.9%;
    text-align: left;
    font-size: 18px;
    font-weight: 700;
    line-height: 22px;
    position: relative;
    top: -28px;
    left: -6.55270655271%;
  }
  &:hover {
    cursor: pointer;
  }
}

.session__icons {
  cursor: pointer;
  display: flex;
  position: absolute;
  top: 7px;
  left: 26px;
  @include bp(medium) {
    top: -29px;
    left: -13px;
  }
}

.session--entertainment .session__name {
  cursor: initial;
}

.speaker__name--schedule {
    flex-shrink: 3;
    display: flex;
    margin: 2px 0 0 41px;
    font-weight: 400;
    span:first-child {
      margin-right: 5px;
    }
    @include bp(medium) {
      margin: -3px 3.81651376147% 0;
      display: flex;
      flex-wrap: wrap;
      font-weight: 500;
      width: 92.36698%;
    }
}

.session__info {
  margin-top: 2px;
  margin-bottom: 15px;
  font-weight: bold;
  justify-content: space-between;
  flex-direction: row;
  line-height: 10px;
  @include bp(medium) {
    margin-bottom: -3px;
    padding-left: 2.55754475703%;
    flex-direction: row;
    line-height: 19px;
    position: relative;
    top: -13px;
  }
}
.session__info--right {
  justify-content: flex-end;
}
.session__about {
  margin-bottom: 8px;
  padding: 10px 0 0 41px;
  font-size: $font__size--2;
  line-height: 24px;
  @include bp(medium) {
    padding: 0 6.55270655271% 0;
    font-weight: 500;
  }
}

.session:last-child {
    border-bottom: 0px;
}

.session__calendButtons {
  margin-top: 17px;
  font-size: $font__size--1;
  display: flex;
  flex-wrap: wrap;
  @include bp(medium) {
    display: none;
  }
}

a.session__calendLink {
    color: $color__link;
    text-decoration: underline;
    font-weight: 400;
    margin-left: 11px;
}
.toggleButtonImage {
  cursor: pointer;
}
.arrow {
  fill: $color__primary;
}

.conf-hidden {
  display: none;
}

.table-hidden {
  display: none;
}

.conference ul.list-fixed {
  position: fixed;
  left: 0;
  z-index: 2;
  width: 100%;
  background: #fff;
  border-bottom: none;
}
