.schedule {
    @include container-int;
    text-align: left;
    margin-top: 40px;
    input:focus {
        outline: 0;
    }
}

#schedule .module-header {
  background: initial;
  color: $color__gray;
  padding: 0;
  margin-top: 22px;
  font-weight: 400;
}


.conference {
  width: 100%;
    ul.conf-hidden {
      display: none;
    }
    ul {
         display: flex;
         transition: height 0.2s;
         margin-left: $session-time-width;
        li {
            list-style: none;
            font-size: 1.1em;
            background-color: $color__gray--lighten;
            padding: 10px;
            cursor: pointer;
            color: $color__white;
            font-weight: 700;
            padding: 15.5px 41.2px;
            text-transform: uppercase;
        }
        li.conference__tab--active {
            background-color: $color__gray--lightest;
            color: $color__primary;
        }
        li.conference__tab--active:hover {
          background-color: $color__gray--lightest;
          color: $color__primary;
        }

        li:hover {
            background: $color__gray--light;
            color: $color__white;
        }
    }
}

.conference__title {
    padding: 15px 0;
    display: flex;
    justify-content: space-between;
    display: none;
    h3 {
        font-size: $font__large;
        color: $color__primary;
        margin: 10px 10px 10px 20px;
        flex-shrink: 5;
        @include bp(very-small) {
            flex-shrink: 7;
            margin: 10px;
        }
    }
    .schedule__toggleButton {
        display: block;
        cursor: pointer;
        margin: 10px;
        flex-shrink: 0;
        svg.ui__comp {
            width: 30px;
            height: 30px;
            border: 0px;
            transition: transform 0.2s;
            .arrow{
                fill: $color__primary--dark;
            }
        }
    }
    .schedule__toggleButton.arrowDown {
        svg.ui__comp {
            transform: rotate(180deg);
        }
    }
}
.timetable {
    transition: height 0.2s;
}
.session {
    display: flex;
    justify-content: flex-start;
    @include bp(small) {
        flex-direction: column;
    }
}
.session:first-child .session__time {
  padding: 32px 36px 0 0;
}
.session:first-child .session__arrangement {
  padding: 32px 0 0 36px;
}

.session__time {
    width: $session-time-width;
    background: $color__gray;
    flex-shrink: 0;
    padding-right: 36px;
    text-align: right;
    color: $color__white;
    font-weight: 500;
    padding-bottom: 28px;
    @include bp(small) {
        margin: 10px 0;
        width: 100%;
    }
    span+span:before{
        content: " - ";
        display: inline-block;
        margin: 0 4px;
    }
}
.session--entertainment .session__time {
  color: $color__primary;
}
.session__arrangement {
    background: $color__gray--lightest;
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    flex-shrink: 3;
    width: 100%;
    padding-left: 36px;
}
.session--report > .session__arrangement {
  color: lighten($color__gray, 10%);
}
.session__name {
    color: inherit;
    margin-bottom: 1px;
}
.session__name:hover {
  text-decoration: underline;
  cursor: pointer;
  color: $color__gray;
}
.session--entertainment .session__name {
    color: $color__primary;
}

.speaker__name--schedule {
    flex-shrink: 3;
    display: flex;
    font-size: 0.648em;
    color: inherit;
}

.session__info {
    margin-bottom: 10px;
    font-weight: bold;
    justify-content: space-between;
    flex-direction: row;
    @include bp(very-small) {
       flex-direction: column;
       margin-bottom: 0;
    }
}
.session__info--right {
    justify-content: flex-end;
}
.session__about {
    margin-bottom: 10px;
    font-size: 0.85em;
    color: lighten($color__gray, 10%);
}

.session:last-child {
    border-bottom: 0px;
}
.session--entertainment {
    color: $color__primary;
}
.session__calendButtons,
a.session__calendLink {
    color: $color__gray--darker;
    display: none;
}
.session__calendLink {
    font-weight: bold;
    padding: 0 7px;
    &:hover {
        text-decoration: underline;
    }
}
.toggleButtonImage {
  cursor: pointer;
}
.arrow {
  fill: $color__primary;
}

.conf-hidden {
  display: none;
}

.table-hidden {
  display: none;
}
