#speakers .module-header {
  font-size: 2.4em;
  font-weight: 500;
  margin: 37px 0 25px;
  color: #515151;
  padding: 0;
}
.speakers {
  @include container-int;
  flex-wrap: wrap;
  justify-content: space-between;
}

.speaker {
  display: inline-block;
  display: flex;
  width: 26%;
  margin: 43px 3% 24px;
  flex-direction: column;
  align-items: center;
}
.speaker:hover img {
  filter: none;
}

.speaker__photo{
  width: 69.2307692308%;
    img {
        width: 100%;
        height: auto;
        margin-bottom: -5px;
        border-radius: 50%;
        filter: grayscale(1);
        transition: filter 0.3s;
    }
}
.speaker__name {
  text-transform: capitalize;
  color: #202020;
  font-weight: 700;
  font-size: 1.45em;
  margin-top: 31px;
}
.speaker__pos {
  color: #969696;
  text-align: center;
  font-size: 1.1em;
  margin: 8px 0;
}
.speaker__about {
  color: #565656;
  text-align: left;
  margin-top: 27px;
  font-size: 1.099em;
  line-height: 1.4em;
  text-shadow: 0 0 0.5px #999;
}

.speaker__contacts {
  display: none;
  flex-wrap:wrap;
  .social__icon {
    display: none;
      fill:#A9ACAE;
  }
}
.speaker__contact {
    display: block;
    margin:5px;
    &:hover {
        .social__icon {
            fill:$color__primary;
        }
    }
    svg.social_icons {
      height:20px;
      width:20px;
    }
}
