@import '../variables';
@import '../mixins';

#header {
	@include container-ext;
	background: $color__primary;
	font-family: $font__main;
	@include bp(medium) {
		margin-top: $menu__toggle-button--size;
	}
}

.header {
	@include container-int;
}

