@import '../variables';
@import '../mixins';

#header {
	@include container-ext;
	background: $color__primary;
	font-family: $font__main;
	width: 100%;
	@include bp(medium) {
		margin-top: $toggle-button__size;
	}
}

.header {
	@include container-int;
	margin: 0;
}
