@import '../variables';
@import '../mixins';

.schedule {
    @include container-int;
    text-align: left;
    input:focus {
        outline: 0;
    }
}

.conference {
    width: 90%;
    margin: 15px auto;
    border-top: 2px solid $color__gray--darker;
    border-bottom: 2px solid $color__gray--darker;
    ul {
         display: flex;
        li {
            list-style: none;
            font-size: $font__larger;
            background-color: $color__primary--lightest;
            padding: 10px;
            cursor: pointer;
        }
        li.conference__tab--active {
            background-color: $color__primary--lighter;
        }
        li:hover {
            text-decoration: underline;
        }
    }
}

.conference__title {
    padding: 15px 0;
    display: flex;
    justify-content: space-between;
    h3 {
        font-size: $font__large;
        color: $color__primary;
        margin: 10px 10px 10px 20px;
        flex-shrink: 5;
        @include bp(very-small) {
            flex-shrink: 7;
            margin: 10px;
        }
    }
    .schedule__toggleButton {
        display: block;
        cursor: pointer;
        margin: 10px;
        flex-shrink: 0;
        svg.ui__comp {
            width: 30px;
            height: 30px;
            border: 0px;
            .arrow{
                fill: $color__primary--dark;
            }
        }
    }
    .schedule__toggleButton.arrowDown {
        svg.ui__comp {
            transform: rotate(180deg);
        }
    }
}
.timetable {
    background-color: $color__primary--lighter;
    padding: 10px;
}
.session {
    display: flex;
    justify-content: flex-start;
    padding: 5px;
    border-bottom: 1px dashed $color__gray--darker;
    @include bp(small) {
        flex-direction: column;
    }
}
.session__time {
    width: 140px;
    margin-right: 20px;
    flex-shrink: 0;
    @include bp(small) {
        margin: 10px 0;
        width: 100%;
    }
    span+span:before{
        content: " - ";
        display: inline-block;
        margin: 0 4px;
    }
}
.session__arrangement {
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    flex-shrink: 3;
    width: 100%;
}
.session__name {
    color: $color__primary--dark;
    margin-bottom: 10px;
}
.session--entertainment .session__name {
    color: $color__primary;
}
.session__info {
    margin-bottom: 10px;
    font-weight: bold;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    @include bp(very-small) {
       flex-direction: column;
       margin-bottom: 0;
    }
    .speaker__name {
        flex-shrink: 3;
    }
    span.session__button{
        width: 20px;
        height: 20px;
        border: 0px;
        margin: 0 10px;
        cursor: pointer;
        @include user-select;
        @include bp(very-small) {
            margin: 10px;
        }
    }
    span.session__button--inactive::after {
        @include schedule-about-button('+');
    }
    span.session__button--active::after {
        @include schedule-about-button('-');
    }
}
.session__info--right {
    justify-content: flex-end;
}
.session__about {
    margin-bottom: 10px;
}

.session:last-child {
    border-bottom: 0px;
}
.session--entertainment {
    color: $color__primary;
}
.session__calendButtons,
a.session__calendLink {
    color: $color__gray--darker;
}
.session__calendLink {
    font-weight: bold;
    padding: 0 7px;
    &:hover {
        text-decoration: underline;
    }
}
.toggleButtonImage {
  fill: $color__primary;
  cursor: pointer;
}
