@import '../variables';
@import '../mixins';



.speakers{
	@include container-int;
	flex-wrap:wrap;
	justify-content:center;
}


.speaker{
	width:30%;
	margin:10px;
	height:auto;

}
.speaker__photo{
}

.speaker__photo>img {
	width: 100%; 
	height: auto;
}
