.index_page main {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  height: calc(100vh - 168px);
  margin-bottom: 50px;
  padding: 40px;
  text-align: center;
}

.main-logo {
  z-index: 2;
  height: 264px;
  margin-bottom: 24px;
}

.main-slogan {
  font-size: 24px;
  color: $yellow;
}
