.index-page {
  main {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
  }

  .main {
    &__logo {
      z-index: 2;
      height: 200px;
      margin-bottom: 24px;
    }

    &__date {
      font-weight: bold;
      background: $black;
    }

    &__desc {
      max-width: 60ch;
      line-height: 1.4;
      text-align: center;
      background: $black;
    }
  }

  .page-section {
    &--filled {
      background: $black;
    }
  }

  .speaker {
    flex-grow: 0;
    margin-bottom: 64px;

    &__pic {
      height: 200px;
      margin-bottom: 8px;
      border-radius: 50%;
    }

    &__name {
      text-align: center;
    }
  }

  .speaker--undefined {
    .speaker__pic {
      width: 200px;
      color: rgba(255,255,255,0.3);
      background-color: rgba(255,255,255,0.3);

      &__sign {
        font-size: 72px;
      }
    }
  }
}
