@import './core/core';
@import 'footer';
@import 'map';

@import './pages/index.page';
@import './pages/coc.page.scss';

html,
body {
  font-family: 'Roboto', sans-serif;
  color: $white;
}

a {
  color: $white;
}

a:hover {
  color: $yellow;
}

ul {
  list-style: none;
}

nav ul li {
  display: inline;
}

.with-bg {
  position: relative;
}

.polygon-pattern-bg {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: -1;
  transform: scale(1);
  pointer-events: none;
  color: white;
  background: url('images/pattern.svg');
  background-color: $black;
}
