mixin socialIcons(networks)
  each networkUrl, network in networks
    case network
      when "facebook"
        a(href="#{ networkUrl }", target="_blank")&attributes(attributes)
          +icon(network)
      when "twitter"
        a(href="#{ networkUrl }", target="_blank")&attributes(attributes)
          +icon(network)
      when "linkedin"
        a(href="#{ networkUrl }", target="_blank")&attributes(attributes)
          +icon(network)
        
mixin icon(icon)
  case icon
    when "arrowUp"
      svg.ui__comp(xmlns='http://www.w3.org/2000/svg', viewbox='0 0 306 306')
        path.arrow(d='M270.3 58.65L153 175.95 35.7 58.65 0 94.35l153 153 153-153z')
    when "location"
      //- svg.ui__comp(xmlns='http://www.w3.org/2000/svg', viewbox='0 0 47.825 47.825')&attributes(attributes)
      //-   path(d='M36.44 12.646C36.44 5.726 30.83.12 23.91.12S11.385 5.726 11.385 12.645c0 9.913 12.527 24.582 12.527 24.582s12.53-14.72 12.53-24.582zm-18.707-.748c0-3.413 2.767-6.18 6.18-6.18s6.178 2.767 6.178 6.18-2.766 6.18-6.178 6.18-6.18-2.767-6.18-6.18z')
      //-   circle(cx='23.911', cy='11.898', r='3.038')
      //-   path(d='M30.994 32.87c-1.02 1.476-1.98 2.76-2.777 3.793 7.916.476 13.104 2.185 15.034 3.456-2.26 1.49-8.978 3.586-19.337 3.586-10.358 0-17.077-2.097-19.338-3.587 1.93-1.272 7.114-2.98 15.022-3.456-.8-1.032-1.76-2.316-2.78-3.792C7.074 33.832 0 36.712 0 40.118c0 4.19 10.707 7.588 23.913 7.588 13.207 0 23.912-3.396 23.912-7.588.002-3.407-7.08-6.29-16.83-7.248z')
      svg(xmlns="http://www.w3.org/2000/svg" viewBox="0 0 540 1000" preserveAspectRatio="xMinYMin meet" width="100%" height="100%")&attributes(attributes)
        path( d="M540 344.5c0 103.75 -80 205 -132.5 281.25 -112.5 161.25 -128.75 297.5 -128.75 297.5 -2.5 11.25 -12.5 11.25 -15 0 0 0 -21.25 -136.25 -131.25 -297.5 -91.25 -127.5 -132.5 -177.5 -132.5 -281.25 0 -148.75 118.75 -267.5 268.75 -267.5 148.75 0 271.25 118.75 271.25 267.5zm-268.75 111.25c58.75 0 103.75 -48.75 103.75 -106.25s-45 -102.5 -103.75 -102.5c-55 0 -101.25 45 -101.25 102.5s46.25 106.25 101.25 106.25z")
    when "time"
      svg.ui__comp(xmlns='http://www.w3.org/2000/svg', viewbox='0 0 612 612')
        path(d='M306 0C136.992 0 0 136.992 0 306s136.992 306 306 306 306-137.012 306-306S475.008 0 306 0zm0 573.157C158.45 573.157 38.843 453.55 38.843 306 38.843 158.45 158.45 38.843 306 38.843c147.55 0 267.157 119.608 267.157 267.157 0 147.55-119.607 267.157-267.157 267.157zm19.125-457.202h-37.657l.593 209.782L420.14 438.69l23.313-32.877-118.325-99.22V115.954z')
    when "facebook"
      svg.social_icons(xmlns='http://www.w3.org/2000/svg', viewbox='0 0 155.139 155.139')
        path.social__icon(d='M89.584 155.14V84.377h23.742l3.562-27.585H89.584v-17.61c0-7.983 2.208-13.424 13.67-13.424l14.595-.007V1.08C115.324.752 106.66 0 96.576 0 75.52 0 61.104 12.853 61.104 36.452v20.34H37.29V84.38h23.814v70.76h28.48z')
    when "twitter"
      svg.social_icons(xmlns='http://www.w3.org/2000/svg', viewbox='0 0 32 32')
        path.social__icon(d='M31.993 6.077c-1.177.523-2.44.876-3.77 1.033 1.355-.812 2.396-2.098 2.887-3.63-1.27.75-2.673 1.3-4.168 1.592C25.744 3.797 24.038 3 22.15 3c-3.626 0-6.563 2.938-6.563 6.563 0 .514.057 1.016.17 1.496C10.3 10.784 5.464 8.17 2.226 4.2c-.564.97-.888 2.098-.888 3.3 0 2.28 1.158 4.287 2.918 5.465-1.075-.035-2.087-.33-2.972-.82v.08c0 3.182 2.26 5.835 5.264 6.438-.55.15-1.13.23-1.73.23-.423 0-.833-.04-1.233-.117.834 2.606 3.26 4.504 6.13 4.558-2.245 1.76-5.075 2.81-8.15 2.81-.53 0-1.053-.03-1.566-.09C2.906 27.913 6.356 29 10.063 29c12.072 0 18.675-10 18.675-18.675 0-.284-.008-.568-.02-.85 1.283-.925 2.395-2.08 3.276-3.398z')
    when "linkedin"
      svg.social_icons(xmlns="http://www.w3.org/2000/svg" viewBox="0 0 67 67")
        path.social__icon(d="M49.837 48.137V36.425c0-6.274-3.35-9.194-7.816-9.194-3.603 0-5.218 1.983-6.118 3.374V27.71h-6.79c.09 1.917 0 20.428 0 20.428h6.79v-11.41c0-.61.044-1.22.224-1.656.49-1.22 1.607-2.482 3.482-2.482 2.458 0 3.44 1.873 3.44 4.618v10.93h6.79zM21.96 24.922c2.366 0 3.84-1.57 3.84-3.53-.043-2.004-1.474-3.53-3.796-3.53s-3.84 1.526-3.84 3.53c0 1.96 1.473 3.53 3.752 3.53h.043zm3.394 23.215V27.71h-6.79v20.427h6.79zM3 4h60v60H3V4z")
