<head>
  <title>LvivJS</title>
  <meta charset="utf-8" />
  <meta http-equiv="x-ua-compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <meta name="description"
    content="LvivJS Conference is a good chance for developers to discuss the future of the JavaScript ecosystem and the latest technologies. From language new features, WEB APIs to React, Vuejs, Angular, Node.js to Testing, Performance, Security, Architecture and, finally, to fun experiments and everything else that matters for those who are in love with JS!" />
  <meta name="keywords" content="LvivJS,JavaScript,ReactJS,Angular,Vue,Conference,Lviv">
  <meta property="og:image:width" content="820" />
  <meta property="og:image:height" content="360" />
  <meta property="og:image" content="https://lvivjs.org.ua/assets/fb_preview.png" />
  <link rel="stylesheet" href="styles/main.min.css" />
  <link href="https://fonts.googleapis.com/css?family=Roboto&display=swap" rel="stylesheet">
  <link href="images/favicon.png" rel="icon" type="image/png" />
</head>
